In [ ]:
#Data Structures with repsect to a variable x not indivifual open function
#5.1 More on lists
#list.append(x)---------->add element to the end of the list 
#similar to a[len(a):]=[x]

#list.extend(iterable)---->extend the list by appending all the items to the end of the list from the iterable
#similar to a[len(a):]=iterable 


#list.insert(i,x)
#first argument is the index of the element before which to insert
#a.insert(0,x),a.append(x),a.insert(len(a),x)

#list.remove(x)-->remove the first itme  from the list whose value is equal to x
#It raises a ValueError if there is no such item.

#Stack functions
#list.pop([i])-->remove tp most
#list.clear()--->remove all items from the list similar to del a[:]

#list.index(x[,[start[,end]]])
#Return zero-based index in the list of the first item whose 
# value is equal to x. Raises a ValueError if there is no such item.

#The optional arguments start and end are interpreted as in
#the slice notation and are used to limit the search to a 
#particular subsequence of the list. The returned index is
#computed relative to the beginning of the full sequence 
#rather than the start argument.

#List.count(x)
#gives the count of number of time x occurs/appears in the list
# list.sort(*,key=None,reverse=False) sort the items of list in place

#list.reverse() reverse the elements of the list in pace 
# list.copy()
# return a shallow copy of the list similar to a[:]

In [2]:
names=['aastha','mukta','aayushi','ketan','archana','vihaan']
names[1]

'mukta'

In [4]:
names.count('aastha')

1

In [5]:
names.index('ketan')

3

In [6]:
names.append('aastha')

In [7]:
names

['aastha', 'mukta', 'aayushi', 'ketan', 'archana', 'vihaan', 'aastha']

In [8]:
names.index('aastha')

0

In [9]:
names.index('aastha',4)

6

In [10]:
names.sort()

In [11]:
names

['aastha', 'aastha', 'aayushi', 'archana', 'ketan', 'mukta', 'vihaan']

In [12]:
names.pop()

'vihaan'

In [13]:
#insert remove sort dont print any ting explisitely therefore the 
# ---->return type is none 
#design prinicple for all mutanle data in python

'''Another thing you might notice is that not all data can be sorted 
or compared. For instance, [None, 'hello', 10] doesn’t
sort because integers can’t be compared to strings and None can’t
be compared to other types. Also, there are some types that don’t have a'
' defined ordering relation. For example, 3+4j < 5+7j isn’t a valid '
'comparison'''

"Another thing you might notice is that not all data can be sorted \nor compared. For instance, [None, 'hello', 10] doesn’t\nsort because integers can’t be compared to strings and None can’t\nbe compared to other types. Also, there are some types that don’t have a'\n' defined ordering relation. For example, 3+4j < 5+7j isn’t a valid '\n'comparison"

In [14]:
#stack
stack=[3,4,5]

In [15]:
stack

[3, 4, 5]

In [16]:
stack.append(6)

In [17]:
stack

[3, 4, 5, 6]

In [18]:
stack.pop()

6

In [19]:
stack.pop()

5

In [20]:
stack

[3, 4]

In [21]:
#using lists as queues
from collections import deque
queue=deque(["aastha","archana","aayushi"])

queue.append("ketan")

In [22]:
queue

deque(['aastha', 'archana', 'aayushi', 'ketan'])

In [23]:
queue.popleft()

'aastha'

In [24]:
queue

deque(['archana', 'aayushi', 'ketan'])

In [27]:
#list comparisons
squares=[]
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Note that this creates
#  (or overwrites) a variable named x
#  that still exists after the loop completes.

In [29]:
x

9

In [30]:
#lambda does tha adding 
square=list(map(lambda x:x**2,range(10)))

In [31]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
squares=[x**2 for x in range(10)]

In [34]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
combination=[]
for x in [1,2,3]:
    for y in [4,2,1]:
        if x!=y:
            combination.append((x,y))

combination

[(1, 4), (1, 2), (2, 4), (2, 1), (3, 4), (3, 2), (3, 1)]

In [37]:
#If the expression is a tuple (e.g. the (x, y) in the previous example), it must be parenthesized.

In [39]:
vec=[-4,-2,0,2,4]
# create a new list with the values doubled
vec_new=[ x*2 for x in vec ]

In [42]:
[x for x in  vec if x<0]

[-4, -2]

In [43]:
[x for x in  vec if x>=0]

[0, 2, 4]

In [45]:
#fn to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [46]:
#create alist of 2 tuples(num,square)
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [47]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [48]:
#neasted lists
matrix=[[1 ,2,4,6],[7,5,9,8],[2,5,3,7]]

In [ ]:
#transposr row to columnes and via versa
The following list comprehension will transpose rows and columns:

In [51]:
#5.2 del statemnt 
a=[2,4,3,6,4,5]
del a[4]

In [53]:
del a[2:4]
a

[2, 4, 5]

In [54]:
#tuples and sequences
#values seperated by commas
t=12345,12365,'hi!'

In [55]:
t[0]

12345

In [56]:
#nested tuples
u=t,(1,2,3,4,5)
u

((12345, 12365, 'hi!'), (1, 2, 3, 4, 5))

In [57]:
#tuples are immutable 
t[0]=50

TypeError: 'tuple' object does not support item assignment

In [58]:
#however it is possible to create tuples which contain mutable objects, such as lists.
#Tuples are immutable, and usually contain a heterogeneous 
# sequence of elements that are accessed via unpacking 
# (see later in this section) or indexing 
# (or even by attribute in the case of namedtuples). 
# Lists are mutable, and their elements are usually 
# homogeneous and
#  are accessed by iterating over the list.

In [59]:
#A special problem is the construction of 
# tuples containing 0 or 1 items: the syntax
#  has some extra quirks to accommodate these.
#  Empty tuples are constructed by an empty pair of parentheses;
#  a tuple with one item is constructed by following a value with
#  a comma (it is not sufficient to enclose a single value in 
# parentheses). Ugly, but effective. For example:

In [ ]:
#Python also includes a data type for sets. 
#A set is an unordered collection with no duplicate elements
# Basic uses include membership testing and eliminating duplicate
# entries. Set objects also support mathematical operations 
# like union, intersection, difference, and symmetric difference.

In [60]:
name={'aastha','aastha'}

In [61]:
name

{'aastha'}

In [63]:
'aastha' in name

True

In [64]:
a=set('aastha')
#unique letters in a
a

{'a', 'h', 's', 't'}

In [65]:
b=set('aayushi')
b

{'a', 'h', 'i', 's', 'u', 'y'}

In [66]:
a|b

{'a', 'h', 'i', 's', 't', 'u', 'y'}

In [67]:
a&b

{'a', 'h', 's'}

In [68]:
a={x for x in 'aabcdeabdc' if x not in 'abc'}

In [69]:
a

{'d', 'e'}

In [ ]:
#DICTIONARY-->In other languages -->associative arrays/memories
sequences-->indexed by -->range of numbers
dictionaries-->index-->by keys
which can be immutable


tuples can be used s keys if they only strings,numbers or tuples
if tuble contains a mutable obj directly or indirectlyit cannot be used as a Key
#cant use list as keys-->since list can be modified in place using indexing .slice or methods like append(),extend

#dictionary as a set of keyvalue pairs
keys are unique in the dictionary
#main operation of a dictionary is storing a value with some keya nd extracting the value given the key
also possing del to deleat the value pair
#if we store using a key that is already in use the old value associated with that key ois forgotten
 error to extract a value using a non-existent key.

In [70]:
tel={'jack':4098,'sape':4139}
tel['guido']=4127

In [71]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [73]:
tel['jack']

4098

In [74]:
del tel['jack']
tel

{'sape': 4139, 'guido': 4127}

In [75]:
list(tel)

['sape', 'guido']

In [76]:
sorted(tel)

['guido', 'sape']

In [77]:
'guido' in tel

True

In [78]:
#dict() constructor builds dictionaries directly form sequences of key value pairs
dict([('aastha',2510),('aayusihi',2312),('archana',2012)])

{'aastha': 2510, 'aayusihi': 2312, 'archana': 2012}

In [79]:
#dict comprehensions can be used to create dictionaries from arbitary key and value experssion
{x:x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [80]:
dict(sape=4193,guido=4127,jack=4098)

{'sape': 4193, 'guido': 4127, 'jack': 4098}

In [81]:
#looping techiniques 
#they key and the value can be retrived at the same time using the items() method
family={"mother":"archana","father":"ketan","daughter":"aastha","daughter2":"aayushi"}
for k,v in family.items():
    print(k,v)

mother archana
father ketan
daughter aastha
daughter2 aayushi

In [82]:
#when looping through a sequence thr position index and corresponding value can be retrived at the same time using
#enumerate()
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [83]:
# to loop over 2 or more sequences at the same time the entries can pe paired with the zip() function
questions=['name','quest','fav colour']
answers=['lancelot','the holy grail','blue']
for q,a in zip(questions,answers):
    print('what is your {0} it is{1}'.format(q,a))

what is your name it islancelot
what is your quest it isthe holy grail
what is your fav colour it isblue

In [84]:
basket =['aastha','mukta','aayushi','ketan']
for i in sorted(basket):
    print(i)

aastha
aayushi
ketan
mukta

In [86]:
#using set eliminates duplicate elements
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(set(basket)):
    print(i)

apple
banana
orange
pear

In [88]:
#better to make a nwelist rather than changing it 
import math
raw_data=[56.2,float('NaN'),51.7,55.3,52.5,float('NaN'),47.8]
filtered_data=[]
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [89]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [ ]:
comparison operators in and not in-->values in a container or not in a container
all comparison have the same priority-->lowe than that of numeric operators

In [ ]:
The Boolean operators and and or are so-called short-circuit operators: their arguments are evaluated from left to right, and evaluation stops as soon as the outcome is determined.

In [ ]:
#comparing sequences and other types
 lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted.