In [ ]:
#Data Structures with repsect to a variable x not indivifual open function
#5.1 More on lists
#list.append(x)---------->add element to the end of the list 
#similar to a[len(a):]=[x]

#list.extend(iterable)---->extend the list by appending all the items to the end of the list from the iterable
#similar to a[len(a):]=iterable 


#list.insert(i,x)
#first argument is the index of the element before which to insert
#a.insert(0,x),a.append(x),a.insert(len(a),x)

#list.remove(x)-->remove the first itme  from the list whose value is equal to x
#It raises a ValueError if there is no such item.

#Stack functions
#list.pop([i])-->remove tp most
#list.clear()--->remove all items from the list similar to del a[:]

#list.index(x[,[start[,end]]])
#Return zero-based index in the list of the first item whose 
# value is equal to x. Raises a ValueError if there is no such item.

#The optional arguments start and end are interpreted as in
#the slice notation and are used to limit the search to a 
#particular subsequence of the list. The returned index is
#computed relative to the beginning of the full sequence 
#rather than the start argument.

#List.count(x)
#gives the count of number of time x occurs/appears in the list
# list.sort(*,key=None,reverse=False) sort the items of list in place

#list.reverse() reverse the elements of the list in pace 
# list.copy()
# return a shallow copy of the list similar to a[:]

In [2]:
names=['aastha','mukta','aayushi','ketan','archana','vihaan']
names[1]

'mukta'

In [4]:
names.count('aastha')

1

In [5]:
names.index('ketan')

3

In [6]:
names.append('aastha')

In [7]:
names

['aastha', 'mukta', 'aayushi', 'ketan', 'archana', 'vihaan', 'aastha']

In [8]:
names.index('aastha')

0

In [9]:
names.index('aastha',4)

6

In [10]:
names.sort()

In [11]:
names

['aastha', 'aastha', 'aayushi', 'archana', 'ketan', 'mukta', 'vihaan']

In [12]:
names.pop()

'vihaan'

In [13]:
#insert remove sort dont print any ting explisitely therefore the 
# ---->return type is none 
#design prinicple for all mutanle data in python

'''Another thing you might notice is that not all data can be sorted 
or compared. For instance, [None, 'hello', 10] doesn’t
sort because integers can’t be compared to strings and None can’t
be compared to other types. Also, there are some types that don’t have a'
' defined ordering relation. For example, 3+4j < 5+7j isn’t a valid '
'comparison'''

"Another thing you might notice is that not all data can be sorted \nor compared. For instance, [None, 'hello', 10] doesn’t\nsort because integers can’t be compared to strings and None can’t\nbe compared to other types. Also, there are some types that don’t have a'\n' defined ordering relation. For example, 3+4j < 5+7j isn’t a valid '\n'comparison"

In [14]:
#stack
stack=[3,4,5]

In [15]:
stack

[3, 4, 5]

In [16]:
stack.append(6)

In [17]:
stack

[3, 4, 5, 6]

In [18]:
stack.pop()

6

In [19]:
stack.pop()

5

In [20]:
stack

[3, 4]

In [21]:
#using lists as queues
from collections import deque
queue=deque(["aastha","archana","aayushi"])

queue.append("ketan")

In [22]:
queue

deque(['aastha', 'archana', 'aayushi', 'ketan'])

In [23]:
queue.popleft()

'aastha'

In [24]:
queue

deque(['archana', 'aayushi', 'ketan'])

In [27]:
#list comparisons
squares=[]
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Note that this creates
#  (or overwrites) a variable named x
#  that still exists after the loop completes.

In [29]:
x

9

In [30]:
#lambda does tha adding 
square=list(map(lambda x:x**2,range(10)))

In [31]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
squares=[x**2 for x in range(10)]

In [34]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
combination=[]
for x in [1,2,3]:
    for y in [4,2,1]:
        if x!=y:
            combination.append((x,y))

combination

[(1, 4), (1, 2), (2, 4), (2, 1), (3, 4), (3, 2), (3, 1)]

In [37]:
#If the expression is a tuple (e.g. the (x, y) in the previous example), it must be parenthesized.

In [39]:
vec=[-4,-2,0,2,4]
# create a new list with the values doubled
vec_new=[ x*2 for x in vec ]

In [42]:
[x for x in  vec if x<0]

[-4, -2]

In [43]:
[x for x in  vec if x>=0]

[0, 2, 4]

In [45]:
#fn to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [46]:
#create alist of 2 tuples(num,square)
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [47]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [48]:
#neasted lists
matrix=[[1 ,2,4,6],[7,5,9,8],[2,5,3,7]]

In [49]:
#transposr row to columnes and via versa